.chatWindowOuterWrapper{
    background-color: darkgray;
    max-width: 300px;
    max-height:600px;
    padding: 2%;
    margin: 100px;
}


.chatWindowWrapper {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.6fr 1.8fr 0.6fr; 
    gap: 0px 0px; 
    justify-items: end; 
}

  .header {
   
    grid-area: 1 / 1 / 2 / 2; 
    width: 100%; 
    height: 100%; 
    margin-bottom: 5%;
    
  }
  .chatlist {
    background-color: rgb(199, 197, 197);
    grid-area: 2 / 1 / 3 / 2; 
    width: 100%; 
    height: 100%; 
    padding-top: 5%;
  }
  .footer {
   
    grid-area: 3 / 1 / 4 / 2; 
    width: 100%; 
    height: 100%; 
    margin-top: 5%;
    padding-top: 5%;
  }





.chatlist{
    height:100%;
    overflow-y: scroll;
}

.chatlist::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input{
    width: 50%;
}

.button{
    width:53%
}

.showChatAndFooter{
    display: none;
}
