.questionWindow {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    justify-items: end; 
    width: 500px; 
    height: 500px;
    background-color: lightgray; 
    text-align: center;
  }
  .enter_question {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2; 
    width: 100%; 
    height: auto;
   
  }
  .possible_answers {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2; 
    width: 100%; 
    height: auto; 
  }
  .correct_answer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%; 
    height: auto; 
  }
  .category {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    grid-area: 4 / 1 / 5 / 2; 
    width: 100%; 
    height: auto; 
  }
  .hint {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    grid-area: 5 / 1 / 6 / 2; 
    width: 100%; 
    height: auto; 
  }
  .send_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-self: center; 
    width: 50%;
    grid-area: 6 / 1 / 7 / 2; 
  }
  
  .sendbutton{
    width: 100px;
    height: 50px;
  }

  input{
    width: 50%;
    margin-left: 25%;
  }