.button {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: darkgreen;
    text-align: center;
    transition: all 0.15s;
}

.button:hover {
    color: #fff;
    background-color: darkgreen;
}