.navigation {
    margin: 0;
    box-sizing: border-box;
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.navigation ul {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.button {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
    text-align: center;
    transition: all 0.15s;
}

.button:hover {
    color: #000;
    background-color: cornflowerblue;
}

.button:active {
    border-color: darkblue;
}

.link {
    text-decoration: none;
    color: #000;
}